
/Python Loader/.vs/Python Loader/FileContentIndex
/PythonLoader/obj/Release
/PythonLoader/obj/Debug
/PythonLoader/obj/Debug
/PythonLoader/obj/Debug
/PythonLoader/bin/Debug
/PythonLoader/Debug
/PythonLoader/.vs
/PythonLoader/.vs
